<body>
    <div class="heroIMG" style="background-image: url('/assets/images/bar-bg.jpg');">
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col" id="backgroundShading">
                        <header class="p-4">
                            <h1> Bootcamp Bar <i class="fa-solid fa-champagne-glasses"></i></h1>
                        </header>
                        <main class="p-4">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis lorem facilisis
                                dictum
                                hendrerit. Pellentesque luctus at enim at tempus. Sed posuere est vel convallis finibus.
                                Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. </p>
                        </main>
                    </div>

                    <div class="col">
                        <form class="p-5">
                            <h3 class="p-3">Please login to make a booking</h2>
                                <div class="mb-3 px-5">
                                    <label for="email" class="form-label">Email address</label>
                                    <input required type="email" class="form-control" id="email">
                                </div>
                                <div class="mb-3 px-5">
                                    <label for="password" class="form-label">Password</label>
                                    <input required type="password" class="form-control" id="password">
                                </div>
                                <div class="d-flex justify-content-end pe-5">
                                    <button type="submit" class="btn btn-outline-light m-1" id="loginBtn">Log in</button>
                                </div>
                                <div>
                                    <a href="/signup"> Don't have an account? Sign up here.</a>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='/js/login.js'></script>
</body>