<body>
    <div class="container position-relative">
    <div class="row justify-content-around position-absolute top-50">
        <div class="col">
            <header class="p-4">
                <h1> Bootcamp Bar</h1>
            </header>
            <main class="p-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis lorem facilisis dictum
                    hendrerit. Pellentesque luctus at enim at tempus. Sed posuere est vel convallis finibus. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. </p>
            </main>
        </div>

        <div class="col">
            <form class="p-5">
                <h3 class="p-3">Please login to make a Bookings</h2>
                <div class="mb-3 px-5">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3 px-5">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary mb-3" id="loginBtn">Log in</button>
                </div>

            </form>

        </div>
    </div>
    </div>

</body>